<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.4:3306/vnsale</property>
        <property name="hibernate.connection.username">khanh_do</property>
        <property name="hibernate.connection.password">Andr0id!</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.charSet">UTF-8</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
        <mapping class="com.hatde.sale.entity.Company"/>
        <mapping class="com.hatde.sale.entity.Contact"/>
        <mapping class="com.hatde.sale.entity.PaymentReceived"/>
        <mapping class="com.hatde.sale.entity.PaymentSent"/>
        <mapping class="com.hatde.sale.entity.SaleItem"/>
        <mapping class="com.hatde.sale.entity.Language"/>
        <mapping class="com.hatde.sale.entity.Unit"/>
        <mapping class="com.hatde.sale.entity.ProductTag"/>
        <mapping class="com.hatde.sale.entity.Warehouse"/>
        <mapping class="com.hatde.sale.entity.Store"/>
        <mapping class="com.hatde.sale.entity.Buy"/>
        <mapping class="com.hatde.sale.entity.Sale"/>
        <mapping class="com.hatde.sale.entity.Tax"/>
        <mapping class="com.hatde.sale.entity.PaymentTransaction"/>
        <mapping class="com.hatde.sale.entity.ProductTransaction"/>
        <mapping class="com.hatde.sale.entity.UnitConvert"/>
        <mapping class="com.hatde.sale.entity.Product"/>
    </session-factory>
</hibernate-configuration>
