@charset 'utf-8';

/* Positionierung */

html, body { 
	height: 100%;         /* required */ 
	width: 100%;
}

body
{
	overflow:hidden;
	text-align: center;   /* horizontal centering hack for IE */
	padding: 0;           /* required to "hide" distance div */
	margin: 0;            /* required to "hide" distance div */
	background: url("../img/hg.jpg") no-repeat;
}

div#distance
{
	margin-bottom: -310px; /* half of content height */
	width: 1px;           /* required to "hide" distance div */
	height: 50%;          /* required */
	float: left;          /* required */
}

div#content
{
	position: relative;   /* positions content on top of distance */
	text-align: left;     /* horizontal centering hack for IE */
	height: 600px;         /* required - desired height */
	width: 1000px;          /* required - desired width */
	margin: 0 auto;       /* required */
	clear: left;          /* required */
	overflow: visible;
	background-color: transparent
}

#App 
{
}